<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <!-- Other links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Onest:wght@300&display=swap"
        rel="stylesheet" />
    <!-- CSS links -->
    <link href="css/style.css" rel="stylesheet" />

    <style>
        h2 {
            margin-left: 20px;
        }

        a {
            color: #538e10;
            /* font-size: 20rem; */
        }

        .course-grid li a {
            color: #6b775e;
            font-size: 1.5em;
        }
    </style>
</head>

<body>
    <header>

        <h1><a href="/">KFUPM CourseCraft</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a class="active" href="#resources">Resources</a></li>
                <% if (allCourses[2]) { %>
                    <!-- Content to display if the user is logged in -->
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    <% } else { %>
                        <!-- Content to display if the user is not logged in -->
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign up</a></li>
                        <% } %>
            </ul>

        </nav>
        

    </header>

    <section class="course-grid">

        <h1>According to Your <select id="term-select">
                <option value="term1">231</option>
                <option value="term2">232</option>
                <option value="term3">233</option>
                <option value="term4">241</option>
            </select> term:</h1>

            
            


        <div class="course-box">
            <a href="course1.html" class="course-link">
                <h2>MATH-101</h2>
            </a>

            <h1><%= allCourses[2].major %> </h1>
            <!-- Add additional resources/content here -->

        </div>

        <div class="course-box">
            <a href="course2.html" class="course-link">
                <h2>PHYS-101</h2>
            </a>
            <!-- Add additional resources/content here -->
        </div>

        <div class="course-box">
            <a href="course3.html" class="course-link">
                <h2>ICS-104</h2>
            </a>
            <!-- Add additional resources/content here -->
        </div>

        <div class="course-box">
            <a href="course4.html" class="course-link">
                <h2>IAS-111</h2>
            </a>
            <!-- Add additional resources/content here -->
        </div>

        <!-- Add more course boxes as needed -->


        <h1>Major Courses: </h1>
        <% allCourses[0].forEach(item => { %>
           <li> <a href="<%= item.resources[0] %>"><%= item.shortcut %></a></li>
           <br>
           
          <% }); %>


        <h1>General Courses: </h1>
        <% allCourses[1].forEach(item => { %>
           <li> <a href="<%= item.resources[0] %>"><%= item.shortcut %></a></li>
            <br>
            <!-- <li><%= item.shortcut %></li> -->
           
          <% }); %>
    </section>



    <footer>
        <p>&copy; 2023 KFUPM CourseCraft</p>
    </footer>
    <script src="js/script.js" defer></script>

</body>

</html>